.box-layout {
  align-items: center;
  background: url('/images/bg.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.box-layout__box {
  background: fade-out($color: white, $amount: 0.15);
  border-radius: 3px;
  text-align: center;
  width: 32rem;
  padding: $l-size $m-size;
}
.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
.box-layout__image {
  width: 4rem;
  height: 4rem;
}
.box-layout__text {
  margin-bottom: 1rem;
}
