* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  color: $dark-gray;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

div {
  margin-bottom: 1rem;
}

.is-active {
  font-weight: bold;
}
